// Input config
input {
    keyboard {
        xkb {
	    layout "fr"
	    variant "azerty"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}

// Desktop screen config 
output "DP-1" {
    mode "1920x1080@165"
    position x=1920 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@165"
    position x=0 y=0
}

output "DP-2" {
    mode "1920x1080@165"
    position x=3840 y=0
    transform "270"
}

// Laptop screen config
// output "eDP-1" {
//     mode "2560x1600@165"
//     position x=0 y=0
//     scale 1.25
// }

// Windows layout config
layout {
    gaps 10
    center-focused-column "never"

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "blue"
        inactive-color "white"
    }
}

// Autostart config
spawn-at-startup "nwg-panel"
spawn-at-startup "swaync"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
spawn-sh-at-startup "~/Documents/Scripts/dynamic-wallpaper.sh"
spawn-sh-at-startup "~/Documents/Scripts/swayidle.sh"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "sleep 3 && arch-update --tray"
spawn-sh-at-startup "gammastep-indicator -l 49.443232:1.099971"
spawn-sh-at-startup "playerctld daemon"
spawn-sh-at-startup "wl-clip-persist --clipboard regular"
spawn-sh-at-startup "protonmail-bridge --no-window"

// Disable help menu at startup
hotkey-overlay {
    skip-at-startup
}

// Disable client-side decorations
prefer-no-csd

// Path for screenshots
screenshot-path "~/Downloads/Screenshot_%Y-%m-%d_%H-%M-%S.png"

// Open the Firefox picture-in-picture player as floating by default
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Block out password manager from screen capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

// Key bindings
binds {
    Mod+T { spawn "xfce4-terminal"; }
    Mod+E { spawn "thunar"; }
    Mod+M { spawn "mousepad"; }
    Mod+C { spawn "speedcrunch"; }
    Mod+B { spawn "firefox"; }
    Mod+A { spawn-sh "rofi -show drun -show-icons"; }
    Mod+Z { spawn-sh "zaman"; }
    Mod+L { spawn-sh "swaylock -feti ~/Pictures/Niri/lock.png -s fill"; }
    Mod+Escape { spawn-sh "~/Documents/Scripts/power-menu.sh"; }
    Mod+P { screenshot; }
    Mod+Tab repeat=false { toggle-overview; }
    Mod+D repeat=false { close-window; }

    F7 { spawn-sh "playerctl previous"; }
    F8 { spawn-sh "playerctl play-pause"; }
    F9 { spawn-sh "playerctl next"; }
    F10 { spawn-sh "pactl set-sink-mute @DEFAULT_SINK@ toggle"; }
    F11 { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -5%"; }
    F12 { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +5%"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+G { center-column; }
    Mod+F { maximize-column; }
    Mod+Shift+F { expand-column-to-available-width; }
    Mod+F11 { fullscreen-window; }
    Mod+parenright { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+V { consume-or-expel-window-left ; }
    Mod+Space { toggle-window-floating; }

    Mod+F1 { focus-workspace 1; }
    Mod+F2 { focus-workspace 2; }
    Mod+F3 { focus-workspace 3; }
    Mod+F4 { focus-workspace 4; }
    Mod+F5 { focus-workspace 5; }
    Mod+F6 { focus-workspace 6; }
    Mod+F7 { focus-workspace 7; }
    Mod+F8 { focus-workspace 8; }
    Mod+F9 { focus-workspace 9; }
    Mod+F10 { focus-workspace 10; }

    Mod+N allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Alt+Delete { quit; }
}
